<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>易车网用户登录</title>
    <link rel="stylesheet" href="/res/other/materialize/css/materialize.css"/>
    <link rel="stylesheet" href="/res/css/cone_fonticons/iconfont.css"/>


</head>
<body class="teal lighten-2">



<div class="container" style="margin-top:90px;">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel z-depth-5">
                <h4 class="center"> 易车网用户登录</h4>
                <div class="row" name="erroMsg" style="color:red;text-align:center;">
                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <div th:if="${#httpServletRequest.remoteUser != null}">
                        <p th:text="${#httpServletRequest.remoteUser}">
                            sample_user
                        </p>
                    </div>
                </div>
                <div class="row">
                    <form class="col s12 m12" id="defaultForm" th:action="@{/login}" method="post">
                        <div class="row">
                            <div class="input-field col s12 m12">
                                <i class="iconfont cone-yonghufill prefix"></i>
                                <input id="username" name="username" type="text">
                                <label for="username">用户名</label>
                            </div>

                            <div class="input-field col s12 m12">
                                <i class="iconfont cone-salefill  prefix"></i>
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password">密码</label>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <button class="btn waves-effect waves-light center" type="submit" name="action">登录
                                <i class="fa fa-sign-in right"></i>
                            </button>
                        </div>
                    </form>

                </div><!--row-->
            </div><!--card-->


        </div><!--col-->
    </div><!--row-->
</div><!--conatiner-->
<script src="/res/js/jquery.min.js"></script>
<script src="/res/other/materialize/js/materialize.min.js"></script>
<script src="/res/js/myHttpComLoader.js"></script>
<script src="/res/js/jquery.validate.min.js"></script>
<script src="/res/js/jquery.validate.messages_zh.min.js"></script>
</body>
</html>