<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>易车网用户登录</title>
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>-->
    <link rel="stylesheet" href="/res/other/materialize/css/materialize.css"/>
    <link rel="stylesheet" href="/res/css/style.css"/>
    <link rel="stylesheet" href="/res/css/cone_fonticons/iconfont.css"/>
    <style>
        .my-dropdown-content{
            background-color: #ee6e73
        }
        .my-dropdown-content li>a, .my-dropdown-content li>span{
            color: white
        }
    </style>
</head>
<body>
<header class="no-padding" id="nav">
    <div class="navbar-fixed">
        <nav class="navfeature green darken-3">
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">易车网</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i style="font-size:30px" class="iconfont cone-caidan"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0);" onclick="loadCom('model/div1')" >首页</a></li>
                    <li><a href="javascript:void(0);" onclick="loadCom('/demo/model/div2')">我要买车</a></li>
                    <li><a href="collapsible.html">我要卖车</a></li>
                    <li><a href="mobile.html">服务保障</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">管理员<i class="iconfont cone-xiangxia2 right"></i></a>
                        <ul id="dropdown1" class="dropdown-content my-dropdown-content">
                            <li><a href="javascript:void(0);" url="/auth/sysRole/listPage" >角色管理</a></li>
                            <li><a href="#!" >权限管理</a></li>
                            <li class="divider"></li>
                            <li><a href="#!">内容管理</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="side-nav-start">
        <ul class="side-nav" id="mobile-demo">
            <li><a href="javascript:void(0);" onclick="loadCom('model/div1')">首页</a></li>
            <li><a href="javascript:void(0);" onclick="loadCom('/demo/model/div2')">我要买车</a></li>
            <li><a href="collapsible.html">我要卖车</a></li>
            <li><a href="mobile.html">服务保障</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">管理员<i class="iconfont cone-xiangxia2 right"></i></a>
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">添加用户</a></li>
                    <li><a href="#!">权限管理</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">内容管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<!-- *导航结束**************-->


<div class="container" id="container">

</div>

<footer class="page-footer darken-3 my-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
        </div>
    </div>
</footer>
<script src="/res/js/jquery.min.js"></script>
<script src="/res/other/materialize/js/materialize.min.js"></script>
<script src="/res/js/myHttpComLoader.js"></script>
<script src="/res/js/jquery.validate.min.js"></script>
<script src="/res/js/jquery.validate.messages_zh.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="/res/js/cone_pagination.vue.js"></script>
<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    var headers={};
    headers[header]=token;
    var app=null;
    $(function(){
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
        $("#nav a").click(function(a){
            var url=$(a.target).attr("url");
            if(url!=null&&url!=""){
                loadCom(url);
            }
        });

    });
    function loadCom(url){
        app={};
        var html=myHttpComLoader.httpRequest(url);
        $("#container").html(html);
        init();
    }
</script>
</body>
</html>